<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS tags</title>
</head>
<body>
  <h1>
    <%= title %>
  </h1>

  <P>
    current time :
    <%= seconds %>
  </P>
  <% if(seconds%2 ===0){ %>
  <ul>
    <% items.forEach(itme => { %>
      <li>
        <%= itme %>
      </li>
      <% }) %>
  </ul>
  <% }else{ %>
  <p>
    nothing to display.
  </p>
  <% } %>
    <p>
      <%- htmlContent %>
    </p>
      
    <%- include("footer.ejs")%>
      
</body>
</html>